{% if messages %}
    {% for message in messages %}
        <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
            <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
                <div class="toast text-white bg-success">
                    <div class="toast-body">
                        <b>{{ message }}</b>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}