<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i id="eyeIcon" class="bi bi-house"></i>
            Quiniela - Mundial 2026
        </a>
        {% if user.is_authenticated %}
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                        >
                            <i id="eyeIcon" class="bi bi-book"></i>
                            Reglas
                        </a>
                    </li>
                    {% if request.user.is_superuser %}
                    {% else %}
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="{% url 'registers:create_update_register' %}"
                            >
                                <i id="eyeIcon" class="bi bi-journal-check"></i>
                                Mi Quiniela
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="{% url 'registers:ranking' %}"
                        >
                            <i id="eyeIcon" class="bi-list-ol"></i>
                            Ranking
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="{% url 'registers:groups' %}"
                        >
                            <i id="eyeIcon" class="bi bi-list-nested"></i>
                            Grupos del Mundial
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="{% url 'registers:results' %}"
                        >
                            <i id="eyeIcon" class="bi bi-bookmark-star"></i>
                            Resultados del Mundial
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i id="eyeIcon" class="bi bi-bookmark-star"></i>
                            Partidos en Vivo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="https://futbol-libre.su/"
                                    target="_blank"
                                >
                                    Fútbol Libre
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Administración
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'configs:home' %}"
                                >
                                    Configuraciones
                                </a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'users:user_list' %}"
                                >
                                    Usuarios
                                </a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'registers:list' %}"
                                >
                                    Actualizar puntos
                                </a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'registers:ranking_for_admin' %}"
                                >
                                    Ranking para el Admin
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle active"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i id="eyeIcon" class="bi bi-file-person"></i>
                            {{ user.username }} ({{ user.nickname }})
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'users:profile_update' user.pk %}">Actualizar perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Cambiar contraseña</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>