*.*.backup
*.*~
*.tar.gz
*.pyc
*.log
*.swp
*.sqlite3
db.sqlite3
Django_6_crud/settings.py
apps/registers_local/migrations
apps/registers_extern/migrations
apps/users/migrations
apps/requests/migrations
