{% extends 'base/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 450px; border-radius: 15px;">
        <div class="text-center mb-4">
            <h2 class="fw-bold text-primary">CENDITEL</h2>
            <p class="text-text-primary">Registro de Combustible</p>
            <h5 class="text-secondary mt-2">Inicio de sesión</h5>
        </div>

        <!-- Formulario -->
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <!-- Campo Usuario -->
            <div class="mb-3">
                <label Aksfor="username" class="form-label fw-semibold">Usuario</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control form-control-lg"
                    value="{{ form.username.value|default:'' }}"
                    required
                >
            </div>
            <!-- Campo Contraseña -->
            <div class="mb-4">
                <label for="password" class="form-label fw-semibold">Contraseña</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control form-control-lg"
                    required
                >
            </div>
            <!-- Botón de Ingreso -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg shadow-sm">
                    Ingresar
                </button>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock %}
