{% extends 'registers/base/base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
    <h1>Recuperar contraseña</h1>
    <p>
        Introduce tu dirección de correo electrónico y te enviaremos
        instrucciones para crear una nueva contraseña.
    </p>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">
                Correo electrónico <span class="text-danger">*</span>
            </label>
            <input
                type="email" 
                name="{{ form.email.name }}" 
                id="{{ form.email.id_for_label }}"
                class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                value="{{ form.email.value|default:'' }}"
                placeholder=""
                required
            >
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {{ form.email.errors.0 }}
                </div>
            {% endif %}
        </div>
        <br />
        <button
            type="submit"
            class="btn btn-primary"
        >
            Enviar correo de recuperación
        </button>
    </form>
{% endblock %}
