{% extends 'users/base.html' %}

{% block content %}
<table 
    cellpadding="0"
    cellspacing="0"
    style="
        width: 520px;
        height: 440px;
        border-collapse: collapse;
        margin: 0 auto;
        background-color: #FFF;
        border-color: #e8e5ef;
        border-radius: 2px;
        border-width: 1px;
        box-shadow: 0 2px 0 rgba(0, 0, 150, 0.025), 2px 4px 0 rgba(0, 0, 150, 0.015);
    "
>
    <tr>
        <td style="padding: 10px 30px; text-align: justify;">
            <h1 style="
                font-size: 18px; 
                font-weight: bold; 
                margin-top: 0px; 
                line-height: 1.4; 
                color: #2c2c2c
                "
                >
                Hola
            </h1>
            <p style="margin: 10px 0; line-height: 1.5;">
                Ha recibido este mensaje porque se solicito un
                restablecimiento de contraseña para su cuenta
            </p>
            <table
                cellpadding="0"
                cellspacing="0"
                style="margin: 25px auto;"
            >
                <tr>
                    <td
                        style="
                            background-color: #00a94f;
                            padding: 7px 13px;
                            font-weight: 700;
                            display: inline-block;
                            border-radius: 4px;
                            align-items: center;
                            justify-content: center;
                            margin: 5px auto;
                            font-size: 14px;
                        "
                    >
                        <a
                            href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"
                            class="button"
                            style="
                                color: #FFF !important;
                                text-decoration: none
                            "
                        >
                            Restablecer Contraseña
                        </a>
                    </td>
                </tr>
            </table>
            <p style="margin: 10px 0;  line-height: 1.5;">
                Este enlace de restablecimiento de contraseña
                expira en 60 minutos.
            </p>
            <p style="margin: 10px 0;  line-height: 1.5;">
                Si no ha solicitado el restablecimiento de
                contraseña omita este mensaje de correo electronico.
            </p>
            <p style="margin: 10px 0; line-height: 1.5;">
                Saludos, SINIDOT.
            </p>

            <hr style="margin: 20px 0; background-color: #79716B;">
            <p
                style="
                    margin: 10px 0;
                    font-size: 12px;
                    text-align: justify;
            <hr 
            style="
                margin: 20px 0; 
                background-color: #79716B;
                "
                >
            <p style="
                margin: 10px 0; 
                font-size: 12px; 
                text-align: justify;
                line-height: 1.5;
                "
                >
                Si tiene problemas para hacer click en el boton "Restablecer contraseña" copie y<br>
                pegue la URL acontinuacion en tu navegador web:
                <a style="
                    color: #3869d4;
                    line-height: 1.5;
                "
            >
                Si tiene problemas para hacer click en el boton
                "Restablecer contraseña" copie y<br>
                pegue la URL acontinuacion en tu navegador web:
                <a
                    style="
                        color: #3869d4;
                        line-height: 1.5;
                    " 
                    href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"
                >
                    {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
                </a>
            </p>
        </td>
    </tr>
</table>
{% endblock %}

