{% extends 'registers/base/base.html' %}

{% block title %}Actualizar Perfil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h1>Actualizar Perfil</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label for="{{ form.username.id_for_label }}" class="form-label fw-bold">
                            Nombre de usuario <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text" 
                            name="{{ form.username.name }}" 
                            id="{{ form.username.id_for_label }}"
                            class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                            value="{{ form.username.value|default:'' }}"
                            placeholder=""
                            required
                            oninput="this.value = this.value.toLowerCase().replace(/[^a-z]/g, '')"
                            onkeypress="return /[a-z]/i.test(event.key)"
                            pattern="[a-z]+"
                            maxlength="20"
                        >
                        {% if form.username.errors %}
                            <div class="invalid-feedback">
                                {{ form.username.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <div>
                        <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">
                            Correo electrónico <span class="text-danger">*</span>
                        </label>
                        <input
                            type="email" 
                            name="{{ form.email.name }}" 
                            id="{{ form.email.id_for_label }}"
                            class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                            value="{{ form.email.value|default:'' }}"
                            placeholder=""
                            required
                        >
                        {% if form.email.errors %}
                            <div class="invalid-feedback">
                                {{ form.email.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <div>
                        <label for="{{ form.first_name.id_for_label }}" class="form-label fw-bold">
                            Nombre <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text" 
                            name="{{ form.first_name.name }}" 
                            id="{{ form.first_name.id_for_label }}"
                            class="form-control {% if form.first_name.errors %}is-invalid{% endif %}"
                            value="{{ form.first_name.value|default:'' }}"
                            placeholder=""
                            required
                            maxlength="20"
                        >
                        {% if form.first_name.errors %}
                            <div class="invalid-feedback">
                                {{ form.first_name.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <div>
                        <label for="{{ form.last_name.id_for_label }}" class="form-label fw-bold">
                            Apellido <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text" 
                            name="{{ form.last_name.name }}" 
                            id="{{ form.last_name.id_for_label }}"
                            class="form-control {% if form.last_name.errors %}is-invalid{% endif %}"
                            value="{{ form.last_name.value|default:'' }}"
                            placeholder=""
                            required
                            maxlength="20"
                        >
                        {% if form.last_name.errors %}
                            <div class="invalid-feedback">
                                {{ form.last_name.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <div>
                        <label for="{{ form.nickname.id_for_label }}" class="form-label fw-bold">
                            Apodo en la Quiniela <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text" 
                            name="{{ form.nickname.name }}" 
                            id="{{ form.nickname.id_for_label }}"
                            class="form-control {% if form.nickname.errors %}is-invalid{% endif %}"
                            value="{{ form.nickname.value|default:'' }}"
                            placeholder=""
                            maxlength="30"
                            required
                        >
                        {% if form.nickname.errors %}
                            <div class="invalid-feedback">
                                {{ form.nickname.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
{% endblock %}
