{% extends 'registers/base/base.html' %}

{% block title %}Lista de usuarios{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Lista de usuarios</h1>
            <section aria-labelledby="users-table-title">
                <table border="1" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre de usuario</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Es superuser</th>
                            <th scope="col">Es Staff</th>
                            <th scope="col">Es Active</th>
                            <th scope="col">Último login</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Apodo</th>
                            <th scope="col">Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.is_superuser }}</td>
                            <td>{{ user.is_staff }}</td>
                            <td>{{ user.is_active }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{{ user.date_joined }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="12">No users found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
