.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(212, 175, 55) !important;
}

a {
    text-decoration: none;
    color: #d4af37;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d4af37;
    --bs-btn-border-color: #d4af37;

    /* Variables para el Hover */
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b8962e;
    --bs-btn-hover-border-color: #b8962e;

    /* Variables para el estado enfocado (Sombra) */
    --bs-btn-focus-shadow-rgb: 212, 175, 55;
}

h1 {
    margin-bottom: 20px;
}

/* Móviles */
@media (max-width: 767px) {
    .main-image {
        width: 80%;
    }
}

.table_results {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.border-danger {
    border: 2px solid #dc3545 !important;
}

.border-success {
    border: 1px solid #ced4da !important;
}

.table-light {
    --bs-table-bg: #d4af37 !important;
}