{% extends 'registers/base.html' %}

{% block content %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">¿Eliminar Registro?</h4>
    <p>Estás a punto de eliminar permanentemente a <strong>{{ register.nombres_apellidos }}</strong>.</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
        <a href="{% url 'registers:home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}