{% extends 'registers/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h2>Detalle del Registro</h2>
    </div>
    <div class="card-body">
        <dl class="row">
            <!-- Columna izquierda -->
            <div class="col-md-6">
                <dt class="mt-2">Nombres:</dt>
                <dd>{{ register.nombres }}</dd>

                <dt class="mt-2">Apellidos:</dt>
                <dd>{{ register.apellidos }}</dd>

                <dt class="mt-2">Cédula:</dt>
                <dd>{{ register.cedula }}</dd>

                <dt class="mt-2">Fecha de Nacimiento:</dt>
                <dd>{{ register.fecha_nacimiento|date:"d/m/Y" }}</dd>

                <dt class="mt-2">Sexo:</dt>
                <dd>{{ register.sexo }}</dd>

                <dt class="mt-2">Folio:</dt>
                <dd>{{ register.folio }}</dd>

                <dt class="mt-2">Libro:</dt>
                <dd>{{ register.libro }}</dd>

                <dt class="mt-2">Número:</dt>
                <dd>{{ register.numero }}</dd>

                <dt class="mt-2">Año:</dt>
                <dd>{{ register.ano }}</dd>
            </div>
        </dl>
    </div>
    <div class="card-footer">
        <a href="{% url 'registers:update' register.pk %}" class="btn btn-warning">
            <i class="fas fa-edit"></i> Editar
        </a>
        <a href="{% url 'registers:delete' register.pk %}" class="btn btn-danger">
            <i class="fas fa-trash"></i> Eliminar
        </a>
        <a href="{% url 'registers:home' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver al listado
        </a>
    </div>
</div>
{% endblock %}