{% extends 'registers/base/base.html' %}
{% load static %}
{% block title %}Lista de Registros{% endblock %}

{% block content %}
    <h4>Total de registros: {{ registers|length }}</h4>

    <br>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered align-middle">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>#</th>
                    <th>Jugador</th>
                    <th>Actualizado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registers %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="small text-muted">
                        {{ register.usuario_registro.first_name }}
                        {{ register.usuario_registro.last_name }}
                        ({{ register.usuario_registro.nickname }})
                    </td>
                    <td class="text-center">
                        {{ register.updated_at|date:"d M Y H:i" }}
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a
                                href="{% url 'registers:update_points' pk=register.pk %}"
                                class="btn btn-warning small"
                            >
                                Actualizar puntos
                            </a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center py-4 text-muted">
                        <i class="fas fa-info-circle"></i> No hay registros disponibles en este momento.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
