{% extends 'registers/base/base.html' %}
{% load static %}
{% block title %}Ranking{% endblock %}

{% block content %}
    <h1>
        <img
            src="{% static 'images/favicon.png' %}"
            alt=""
            width="60"
            class="d-inline-block align-text-top"
        />
        Ranking
    </h1>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table
                    class="
                        table table-hover table-striped
                        table-bordered align-middle
                        table-ranking
                    "
                    style="font-size: 12px;"
                >
                    <thead class="table-light">
                        <tr class="text-center">
                            <th>N</th>
                            <th>Jugador</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for register in registers %}
                        <tr class="{% if forloop.counter <= 2 %}winners{% endif %}">
                            <td class="text-center">
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ register.usuario_registro.first_name }}
                                {{ register.usuario_registro.last_name }}
                                ({{ register.usuario_registro.nickname }})
                            </td>
                            <td class="text-center">
                                {{ register.suma_total_puntos }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center py-4 text-muted">
                                <i class="fas fa-info-circle"></i> No hay registros disponibles en este momento.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
